body {
	font-family: "Times New Roman";
	background-color: LightGreen;
}
#object {
	border: 1px solid black;
	border-radius:5px;
}
#DATE {
	border: 1px solid black;
	border-radius:5px;
}
#ALF {
	border: 1px solid black;
	border-radius:5px;
}
#MATH {
	border: 1px solid black;
	border-radius:5px;
}
#boolean {
	border: 1px solid black;
	border-radius:5px;
}